<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
	
  <title>Class Voting System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Class Voting System</h1>
		<nav>
		  <ul>
		    <li><%= link_to "Home", root_path %></li>
		    <li><%= link_to 'Add a Topic', new_topic_path %></li>
		    <li><%= link_to 'About', pages_about_path %></li>
		  </ul>
		</nav>
	</header>
	<% flash.each do |name, msg| %>
	<div><%= msg %></div>
	<% end %>
	<%= yield %>
<footer>
	<p>Please only vote once.</p>
	<ul>
		<li><%= link_to image_tag("Courtesy.gif"), "http://twitter.com/coryduclos"%></li>
	</ul>
</footer>
</body>
</html>